/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.video-bg{
    background-image: url(../image/video-bg.jpg);
    background-color: #ddd;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 43%;
    box-shadow: 0 0 20px #666;
}

.video-area {
    position: relative;
    padding: 100px 0;
   
}

.video-btn {
    background: none repeat scroll 0 0 #2ecc71;
    height: 100px;
    position: absolute;
    right: -50px;
    top: 50%;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    transform: translateY(-50%);
    padding-left: 10px;
    display: inline-block; 
}

.video-chack li:before{
    font-family: fontAwesome;
    content: "\f00c";
    color: #2ecc71;
}

.video-content h3{
    font-size: 25px;
    color: #333;
    font-weight: 700;
    text-transform: capitalize;
}

.video-content p{
    color: #999;
    font-size: 16px;
}
.video-chack{
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #666;
}
.video-chack li{
   list-style: none;
    position: relative;
    padding-left: 30px;
    padding-bottom: 5px;
    
}

.video-chack li:before{
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 15px;
    font-weight: 700;
}